*   {
    width: 0;
    height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-size: 50vw;
    gap: 0;
}


body{
    background: #808080;
}

header  {
    width: 100vw;
    height: 18.5vh;
}

h1  {
    line-height: 10vh;
    font-size: 7vw;

    width: 30vw;
    height: 10vh;

    margin: 1.5vh;
}

h2 {
    background: #0000ff;
    color: #fff;

    font-size: 4vh;
    line-height: 7vh;
    text-align: center;

    width: 100vw;
    height: 7vh;
}


.buttons    {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw;

    width: 100vw;
    height: 50vh;
    margin: 5vh auto;

}

button    {
    background: #0000ff;
    color: #fff;

    font-size: 3vw;

    box-shadow: .5vw .8vw .2vw #000;

    width: 40vw;
    height: 15vw;

    margin: 0 auto;
}

.buttons button:hover {
    background: #92ce37;
    color: #000;
}




footer  {
    width: 13vw;
    height: 6vw;

    position: fixed;
    bottom: 1vw;
    right: 2vw;
}

footer p    {
    font-size: 5vw;
}


/*
@media screen and (orientation: landscape) {

    h1  {
        width: 20vw;
    }
    
    .explanation    {
        background: #92ce37;
        
        position: absolute;
        top: 0;
        left: 20vw;

        width: 20vw;
        height: 100vh;
    }

    h2 {
        writing-mode: vertical-rl;
        text-orientation: upright;

        font-size: 4vw;
        width: 4vw;
        height: 100vh;
        margin: 0 auto;
    }

    .buttons    {
        background: #ff69b4;

        position: absolute;
        right: 0;
        top: 0;

        width: 60vw;
        height: 100vh;
    }

}
*/
